.wrapperRow {
    max-width: 1200px;
    margin: 0 auto;
}

.movieRow {

    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.wrapper {
    width: calc(100% - 15px);
    height: calc(100% - 10px);
    background: linear-gradient(rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, .9) 92.16%);

    position: absolute;
    top: 0;


}

.wrapperInfo {

    position: absolute;
    bottom: 10px;
    width: calc(100% - 15px);

}

.movieCol {
    position: relative;
    padding: 8px;
    cursor: zoom-in;
    transition: transform 1s ease;




}


.movieCol:hover {
    transform: scale(1.05)
}

.title {

    margin: 0;
    text-align: center;
    padding: 16px 0;


}


.movieImage {
    width: 220px;
    height: 320px;


}

.movieTitle {
    color: white;
    margin: 0;
    margin: 8px;

    height: 30px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;

}

.movieTitle:hover {
    color: rgb(255, 196, 4);
}




.stars {
    margin-left: 10px;
    font-size: 10px;

}





.movieTitle::-webkit-scrollbar {
    width: 6px;
    /* Ширина полосы прокрутки */
}



.movieTitle::-webkit-scrollbar-thumb {
    background-color: #646464;
    border-radius: 5px;
    /* Цвет полосы прокрутки */
}