.table {

    margin: 0 auto;
    /* margin: 16px; */

    @media (min-width: 576px) {
        width: 80%;

    }

}

.Empty {
    margin-bottom: 50px;
}

.List {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 20px 50px;


}